

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="row">
              <div class="col-xs-12 text-center">
                <small>&copy; rifyll theme, 2014, 
                Powered by <a href="http://www.ibm.com/cloud-computing/kr/ko/softlayer/"><img src="/img/softlayer.png" width="47" height="23" alt="hosting services" /></a> </small>
              </div>
            </div>
        </div>
      </div>
    </div>
  </footer>
